[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
fastapi-sqlalchemy = "*"
pydantic-factories = "*"
opentelemetry-instrumentation-fastapi = "*"
opentelemetry-exporter-otlp = "*"
opentelemetry-distro = "*"
opentelemetry-instrumentation-sqlalchemy = "*"

[dev-packages]
pytest = "*"
requests = "*"
black = "*"
locust = "*"

[requires]
python_version = "3.10"
